.heading-xl {
  font-size: 64px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.8px;
  line-height: 110%;

  @media (min-width: 1440px) {
    font-size: 56px;
  }
}

.heading-lg {
  font-size: 48px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.8px;
  line-height: 110%;

  @media (min-width: 1440px) {
    font-size: 64px;
  }
}

.heading-md {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.8px;
  line-height: auto;
}

.heading-sm {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.8px;
  line-height: auto;
}

.text-lg {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.8px;
  line-height: 110%;

  @media (min-width: 1440px) {
    font-size: 48px;
  }
}

.text-md {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0px;
  line-height: 150%;
}

.text-md-bold {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0px;
  line-height: 150%;
}

.text-sm {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0px;
  line-height: 150%;
}

.p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0px;
  line-height: 150%;

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

// 400,600,700
